
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chesie's Profile</title>

    <!-- Bootstrap core CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
      
    <link rel="stylesheet" href="main.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="./../css/app.css">
  </head>

  <body>

    <!-- Modal Log in-->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"> <!--the whole popup-->
          <div class="modal-header"><!--"login" and exit button-->
            <h5 class="modal-title" id="signinModalLabel">Login</h5> <!--"login"-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <!--exit button-->
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="./home.html"> <!--bottom half of the popup-->
            <div class="modal-body"> <!--username, password, remember me-->
                  <div class="form-group row"> <!--username-->
                      <label for="username" class="col-sm-4 col-form-label text-md-right">Username</label>
                      <div class="col-md-6">
                          <input id="username" type="text" class="form-control" name="username" value="" required="" autofocus="">
                      </div>
                  </div>
                  <div class="form-group row"><!--password-->
                      <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                      <div class="col-md-6">
                          <input id="password" type="password" class="form-control" name="password" required="">
                      </div>
                  </div>

                  <div class="form-group row"><!--remember me-->
                      <div class="col-md-6 offset-md-4">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="remember"> Remember Me
                              </label>
                          </div>
                      </div>
                  </div>
              
            </div>
            <div class="modal-footer"> 
              <button type="submit" class="btn btn-primary">Login</button> <!--login button-->
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Register-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"> <!--the whole pop up-->
            <div class="modal-header"> <!--"register" and exit button-->
              <h5 class="modal-title" id="registerModalLabel">Register</h5> <!--"register"-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <!--exit button-->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="./home.html"> <!--bottom half of pop up-->
                <div class="modal-body"> <!--username, password, confirm password-->
                    <div class="form-group row"> <!--username-->
                        <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                        <div class="col-md-6">
                            <input id="username" type="text" class="form-control" name="username" value="" required="" autofocus="">
                        </div>
                    </div>
                    <div class="form-group row"> <!--password-->
                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                        <div class="col-md-6">
                            <input id="password" type="password" class="form-control" name="password" required="">
                        </div>
                    </div>
                    <div class="form-group row"> <!--confirm password-->
                        <label for="confirmpassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                        <div class="col-md-6">
                            <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> <!--cancel and register button-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> <!--cancel button-->
                    <button type="submit" class="btn btn-primary">Register</button>  <!--register button-->
                </div>
            </form>
          </div>
        </div>
      </div>
      
      <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"> <!--the whole pop up-->
            <div class="modal-header"> <!--"register" and exit button-->
              <h5 class="modal-title" id="registerModalLabel">Edit Content</h5> <!--"register"-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <!--exit button-->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="./profile.html"> <!--bottom half of pop up-->
                <div class="modal-body"> <!--username, password, confirm password-->
                    <div class="form-group row"> <!--username-->
                        <label for="title" class="col-md-4 col-form-label text-md-right">Title</label>
                        <div class="col-md-6">
                            <input id="username" type="text" class="form-control" name="username" value="" required="" autofocus="">
                        </div>
                    </div>
                    <div class="form-group row"> <!--password-->
                        <label for="tags" class="col-md-4 col-form-label text-md-right">Tags</label>
                        <div class="col-md-6">
                            <input id="password" type="text" class="form-control" name="password" required="">
                        </div>
                    </div>
                    <div class="form-group row"> <!--password-->
                        <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
                        <div class="col-md-6">
                            <input id="password" type="text" class="form-control" name="password" required="">
                        </div>
                    </div>
                    <div class="form-group row"> <!--confirm password-->
                        <label for="privacy" class="col-md-4 col-form-label text-md-right">Privacy</label>
                        <div class="col-md-6">
                            <select id="username" class="form-control" name="username" value="" required="" autofocus="">
                                <option value="val1">Private</option>
                                <option value="val2">Public</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> <!--cancel and register button-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> <!--cancel button-->
                    <button type="submit" class="btn btn-primary">Update Content</button>  <!--register button-->
                </div>
            </form>
          </div>
        </div>
      </div>
      
      <!-- Modal Delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"> <!--the whole pop up-->
            <div class="modal-header"> <!--"register" and exit button-->
              <h5 class="modal-title" id="registerModalLabel">Are you sure you want to delete meme?</h5> <!--"register"-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <!--exit button-->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="./profile.html"> <!--bottom half of pop up-->
                <div class="modal-footer"> <!--cancel and register button-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> <!--cancel button-->
                    <button type="submit" class="btn btn-primary">Delete</button>  <!--register button-->
                </div>
            </form>
          </div>
        </div>
      </div>
      
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-red fixed-top bg-red">
        <a class="navbar-brand" href="home.html"><img id="logo" src="./../storage/images/MEME NUMBA WAN.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./uploadmeme.html">Upload a Meme</a> <!--upload a meme button-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./profile.html">My Profile</a> <!--my profile button-->
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> <!--search bar-->
                  <button id="search" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Search</button> <!--search button-->
              </form>
              <!--log out button-->
              <button id="search" class="btn btn-outline-warning my-2 my-sm-0" type="button" onclick="window.location = './index.html'">Logout</button> 
        </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
        <h1 class="mt-5">Chesie's Profile</h1> <!--name of user-->
        <div class="row">
            <div class="col-12 col-md-7"> <!--memes and captions by user-->
                    <div class="mt-4 memedivprof"> <!--memes and caption-->
<!--                        <div class="card">-->
                            <div class="edit_delete" align="right">
                                    <a class="btn"href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                    <a  href="#" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                            </div>
                            <div class="card-body">
                                <a href="./meme1.html"><div class = "biggerprof">90 percent of the time , we hate you all the time ...</div></a> <!--caption-->
                                <img src="./../storage/images/meme1.jpg" class = "imgprof"/> <!--memes-->
                                
                                
                                <br>
                                
                                <div> <!--tags-->
                                    Tags:
                                    <a href="./tag1WC.html">World Cup</a>
                                    <a href="./tagOdd.html">i made dis</a>
                                </div>
                                <h6>12 shares</h6>
                                
                                <br>
                                
                                <div>
                                    <button class="buttonid" > 53 thumbs up </button>
                                    <button class="buttonid" > 24 thumbs down </button>
                                </div>                                                   
                            </div>
<!--                        </div>                     -->
                    </div>
                
                    <div class="mt-4 memedivprof"> <!--memes and caption-->
<!--                        <div class="card">-->
                            <div class="edit_delete" align="right">
                                    <a class="btn"href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                    <a  href="#" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                            </div>
                            <div class="card-body">
                                <a href="./meme2.html"><div class = "biggerprof">purrr ??</div></a> <!--caption-->
                                <img src="./../storage/images/meme2.jpg" class = "imgprof"/> <!--memes-->
                                <div> <!--tags-->
                                    Tags:
                                    <a href="./tag2Pet.html">Pet</a>
                                    <a href="./tagEven.html">she made dis</a>
                                    
                                    <h6>40 shares</h6>
                                
                                    <br>

                                    <div>
                                        <button class="buttonid" > 23 thumbs up </button>
                                        <button class="buttonid" > 63 thumbs down </button>
                                    </div>
                                </div>
                            </div>
<!--                        </div>                     -->
                    </div>
                
                    <div class="mt-4 memedivprof"> <!--memes and caption-->
<!--                        <div class="card">-->
                            <div class="edit_delete" align="right">
                                    <a class="btn"href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                    <a  href="#" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                            </div>
                            <div class="card-body">
                                <a href="./meme3.html"><div class = "biggerprof">Smart hits again</div></a> <!--caption-->
                                <img src="./../storage/images/meme3.jpg" class = "imgprof"/> <!--memes-->
                                <div> <!--tags-->
                                    Tags:
                                    <a href="./tag3Smart.html">Show up</a>
                                    <a href="./tagOdd.html">i made dis</a>
                                    
                                    <h6>73 shares</h6>
                                
                                    <br>

                                    <div>
                                        <button class="buttonid" > 65 thumbs up </button>
                                        <button class="buttonid" > 25 thumbs down </button>
                                    </div>
                                </div>
                            </div>
<!--                        </div>                     -->
                    </div>
                
                    <div class="mt-4 memedivprof"> <!--memes and caption-->
<!--                        <div class="card">-->
                            <div class="edit_delete" align="right">
                                    <a class="btn"href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                    <a  href="#" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                            </div>
                            <div class="card-body">
                                <a href="./meme4.html"><div class = "biggerprof">when you're not used to it</div></a> <!--caption-->
                                <img src="./../storage/images/meme4.jpg" class = "imgprof"/> <!--memes-->
                                <div> <!--tags-->
                                    Tags:
                                    <a href="./tag4Pidgeon.html">Is this a Pigeon?</a>
                                    <a href="./tagEven.html">she made dis</a>
                                    
                                    <h6>2 shares</h6>
                                
                                    <br>

                                    <div>
                                        <button class="buttonid" > 53 thumbs up </button>
                                        <button class="buttonid" > 42 thumbs down </button>
                                    </div>
                                </div>
                            </div>
<!--                        </div>                     -->
                    </div>
                
                    <div class="mt-4 memedivprof"> <!--memes and caption-->
<!--                        <div class="card">-->
                            <div class="edit_delete" align="right">
                                    <a class="btn"href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                    <a  href="#" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                            </div>
                            <div class="card-body">
                                <a href="./meme5.html"><div class = "biggerprof">Dota 3.0</div></a> <!--caption-->
                                <img src="./../storage/images/meme5.png" class = "imgprof"/> <!--memes-->
                                <div> <!--tags-->
                                    Tags:
                                    <a href="./tag5Dota.html">Dota</a>
                                    <a href="./tagOdd.html">i made dis</a>
                                    
                                    <h6>10 shares</h6>
                                
                                    <br>

                                    <div>
                                        <button class="buttonid" > 13 thumbs up </button>
                                        <button class="buttonid" > 23 thumbs down </button>
                                    </div>
                                </div>
                            </div>
<!--                        </div>                     -->
                    </div>
            </div>
            <div class="col-12 offset-md-1 col-md-4"> <!--user information part-->
                <br>
                <h4><b>Username:</b></h4>
                <p class="lead">afsantooos</p>
                <h4><b>Description:</b> </h4>
                <p class="lead">19 year old college girl who loves posting and sharing memes</p>
            </div>
        </div>
        
        <center><a class="btn" href="./profile.html">SHOW MORE</a></center>
    </main>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>